@font-face {
    font-family: MonteCarlo-Regular;
    src: url(../font/MonteCarlo-Regular.ttf);
}

/*Diseño menú, header y background*/
.menu {
    font-size: 2vw;
    font-family: MonteCarlo-Regular;
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    margin: 0rem 1rem;
    color: goldenrod;
}

#Grace {
    font-size: 3vw;
    font-family: monteCarlo-Regular;
    color: goldenrod;
}

h2 {
    font-family: montecarlo-regular;
    font-size: 4vw;
    color: goldenrod;
}

header {
    background-image: url("../img/banner.JPG");
    background-size: center;
    background-image: cover;
    height: 160px;
    left: 0%;
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 1111
}

body {
    background-image: url("../img/body.JPG");
    background-size: center;
}

/*Paralax*/

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.4rem;
    margin: 0 0 24px 0
}


.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative
}

.texto-interior {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%
}

.img-uno {
    background-image: url('../img/Room.jpg');
}

.img-dos {
    background-image: url("../img/Facial.jpg")
}

.img-tres {
    background-image: url("../img/Tratamientocabello.JPG")
}

.texto {
    padding: 5%;
    width: 90%
}

/*footer*/

footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    width: 100%;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

/* Diseño de Grid en Nosotros.HTML */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

#personal {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-gap: 2rem;
    justify-content: space-around;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    position:sticky;
    padding: 2rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* Media queries */

@media screen and (max-width:1024px) {
    img.responsive {
        width: 200px;
    }
}

@media screen and (min-width:1025px) {
    img.responsive {
        width: 300px;
    }
}

img.responsive {
    width: auto;
}

@media screen and (min-width: 40rem) {
    .card {
        width: 50%;
    }

    .header {
        width: 50%;
    }
}

@media screen and (min-width: 56rem) {
    .card {
        width: 33.3333%;
    }
}


/* Grid de Promociones.HTML */
.promociones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
}

/* Grid de Tratamientos.HTML */
.Tratamientos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2rem;
}

/* Diseño de Formulario */
.form {
    width: 340px;
    height: 710px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

.send {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

.contenedor {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

span {
    margin: 0 5px 0 15px
}

/* Efecto menú */
.nav-wrapper {
    width: 100%;
}

nav {
    position: relative;
}

ul {
    list-style-type: none;
    float: left;
    position: relative;
}

li {
    float: left;
    position: relative;
}

.menu a:before,
.menu a:after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    top: 10px;
    transition: all .4s;
}

.menu a:before {
    left: calc(50% - 40px);
}

.menu a:after {
    right: calc(50% - 40px);
}

.menu a:hover:before {
    transform: rotate(45deg);
    opacity: 0.7;
}

.menu a:hover:after {
    transform: rotate(-45deg);
    opacity: 0.7;
}

/* Booststrap hover - Zoom in */
.imgcard {
    width: 100%;
    max-width: 420px;
    opacity: 0.75;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-timing-function: ease-in;
    transition: 1.5s;
}

.imgcard:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s;
}
.footer-item>h3>li>a:hover {    background-color: #B0B0B0;
    color: red;

}
.button .wpcf7-submit {
    background-image: linear-gradient(to right,#ff00cc 0%,#333399 51%,#ff00cc 100%);
    background-size: 200% auto;
    color: #ffffff !important;
    border-radius: 25px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border: none !important;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    margin-top: 14px;
    display: inline-block;
    width: 192px;
    height: 40px;
}
.button .wpcf7-submit:hover{
    background-position: right center;

}
