@charset "UTF-8";
/* ----------------------------------------------Diseño menú, header y background ----------------------------------------------*/
.nav {
  font-size: 2vw;
  font-family: MonteCarlo-Regular;
  list-style: none; }
  .nav a {
    text-decoration: none;
    margin: 0rem 1rem;
    color: goldenrod; }
    .nav a:before {
      content: "";
      width: 80px;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      position: absolute;
      top: 10px;
      transition: all .4s;
      left: calc(50% - 40px); }
    .nav a:after {
      content: "";
      width: 80px;
      height: 1px;
      background-color: #fff;
      opacity: 0;
      position: absolute;
      top: 10px;
      transition: all .4s;
      right: calc(50% - 40px); }
    .nav a:hover:before {
      transform: rotate(45deg);
      opacity: 0.7; }
    .nav a:hover:after {
      transform: rotate(-45deg);
      opacity: 0.7; }

.nav-wrapper {
  width: 100%; }

nav {
  position: relative; }

ul {
  list-style-type: none;
  float: left;
  position: relative; }

li {
  float: left;
  position: relative; }

span.primary {
  color: #00adef; }

span.secondary {
  color: #ecba38; }

span.success {
  color: #00bc34; }

span.warning {
  color: #ec6038; }

span.alert {
  color: #ef0035; }

#limpiar:hover {
  opacity: 1;
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition-timing-function: ease-in;
  transition: 1.5s; }

@media screen and (min-width: 320px) {
  ul > li > a {
    font-size: 200%; }
  header {
    height: fit-content; } }

@media screen and (max-width: 720px) {
  .hamburger-checker {
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 10px;
    height: 17px;
    width: 30px;
    top: 10px;
    z-index: 3; }
    .hamburger-checker:checked + ul {
      transform: translateY(0); }
  .hamburger-box {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 17px;
    width: 30px;
    top: 10px;
    z-index: 3; }
  .nav {
    flex-direction: column;
    transform: translateY(-130%);
    list-style: none;
    display: flex;
    background-color: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    padding: 10px 20px;
    color: #212121;
    margin: 0;
    transition: transform 300ms ease-in-out; }
    .nav li {
      font-size: 18px;
      padding-right: 20px; }
  .hamburger-inner {
    width: 30px;
    height: 3px;
    top: 7px;
    position: relative;
    background: #ffffff;
    border-radius: 15px; } }

.hamburger-inner::before {
  width: 30px;
  height: 3px;
  top: 7px;
  position: relative;
  background: #ffffff;
  border-radius: 15px; }

.hamburger-inner::after {
  width: 30px;
  height: 3px;
  top: 7px;
  position: relative;
  background: #ffffff;
  border-radius: 15px; }

.hamburger-inner before {
  content: "";
  top: -7px;
  display: block; }

.hamburger-inner:after {
  content: "";
  top: 4px;
  display: block; }

@media screen and (min-width: 720px) {
  ul > li > a {
    font-size: 2rem; } }

@media screen and (max-width: 720px) {
  .hamburger-checker {
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 10px;
    height: 17px;
    width: 30px;
    top: 10px;
    z-index: 3; }
    .hamburger-checker:checked + ul {
      transform: translateY(0); }
  .hamburger-box {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 17px;
    width: 30px;
    top: 10px;
    z-index: 3; }
  .nav {
    flex-direction: column;
    transform: translateY(-130%);
    list-style: none;
    display: flex;
    background-color: #e4f403;
    padding: 10px 20px;
    color: #212121;
    margin: 0;
    transition: transform 300ms ease-in-out; }
    .nav li {
      font-size: 18px;
      padding-right: 20px; }
  .hamburger-inner {
    width: 30px;
    height: 3px;
    top: 7px;
    position: relative;
    background: #ffffff;
    border-radius: 15px; } }

.hamburger-inner::before {
  width: 30px;
  height: 3px;
  top: 7px;
  position: relative;
  background: #ffffff;
  border-radius: 15px; }

.hamburger-inner::after {
  width: 30px;
  height: 3px;
  top: 7px;
  position: relative;
  background: #ffffff;
  border-radius: 15px; }

.hamburger-inner before {
  content: "";
  top: -7px;
  display: block; }

.hamburger-inner:after {
  content: "";
  top: 4px;
  display: block; }

@media screen and (min-width: 721px) {
  .hamburger-checker {
    visibility: hidden; } }

@font-face {
  font-family: MonteCarlo-Regular;
  src: url(../font/MonteCarlo-Regular.ttf); }

#Grace {
  font-size: 3rem;
  font-family: monteCarlo-Regular;
  color: goldenrod; }

h2 {
  font-family: montecarlo-regular;
  font-size: 2rem;
  color: goldenrod; }

header {
  background-image: url("../img/banner.JPG");
  background-size: center;
  background-image: cover;
  height: 160px;
  left: 0%;
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 1111; }

body {
  background-image: url("../img/body.JPG");
  background-size: center; }

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }
  *::after {
    box-sizing: border-box; }

p {
  font-size: 1.4rem;
  margin: 0 0 24px 0; }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a; }

/* ----------------------------------------------Paralax ----------------------------------------------*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative; }

.texto-interior {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%; }

.img-uno {
  background-image: url("../img/Room.jpg");
  width: 100%;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-timing-function: ease-in;
  transition: 1.5s; }
  .img-uno:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s; }

.img-dos {
  background-image: url("../img/Facial.jpg");
  width: 100%;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-timing-function: ease-in;
  transition: 1.5s; }
  .img-dos:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s; }

.img-tres {
  background-image: url("../img/Tratamientocabello.JPG");
  width: 100%;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-timing-function: ease-in;
  transition: 1.5s; }
  .img-tres:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s; }

.texto {
  padding: 5%;
  width: 90%; }

/* ----------------------------------------------footer ----------------------------------------------*/
footer {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
  width: 100%; }

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; }

.main {
  max-width: 1200px;
  margin: 0 auto; }

#personal {
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }

/* ---------------------------------------------- Diseño de Grid en Nosotros.HTML ---------------------------------------------- */
.card {
  display: grid;
  display: sticky;
  overflow: hidden; }

.card-img-top {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 20rem; }
  .card-img-top:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s; }

.card-body {
  position: sticky;
  padding: 2rem;
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  border-radius: 0.25rem;
  box-shadow: 0 0 40px -10px #000; }

.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px; }

/* ---------------------------------------------- Diseño botones ---------------------------------------------- */
.btn-default {
  background: #006EFF;
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px; }

h5 {
  font-family: montecarlo-regular;
  font-size: 2rem; }

img {
  max-width: 100%;
  vertical-align: middle; }

img.responsive {
  width: auto; }

.promociones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 2rem; }

/* ---------------------------------------------- Grid de Tratamientos.HTML ---------------------------------------------- */
.Tratamientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2rem; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*---------------------------------------------- Diseño de Formulario ---------------------------------------------- */
.form {
  width: 600px;
  height: 910px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative; }

input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2; }
  input:focus {
    border-bottom: 2px solid #78788c; }

.send, #limpiar {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s; }

.contenedor {
  content: 'Hi';
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 0 0 40px -10px #000; }

span {
  margin: 0 5px 0 15px; }

/* ---------------------------------------------- Booststrap hover - Zoom in ----------------------------------------------*/
.imgcard {
  width: 100%;
  max-width: 420px;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-timing-function: ease-in;
  transition: 1.5s; }
  .imgcard:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-timing-function: ease-in;
    transition: 1.5s; }

/* ---------------------------------------------- Media queries ---------------------------------------------- */
@media screen and (max-width: 1024px) {
  img.responsive {
    width: 200px; } }

@media screen and (min-width: 1025px) {
  img.responsive {
    width: 300px; } }

@media screen and (min-width: 40rem) {
  .card {
    width: 50%; }
  .header {
    width: 50%;
    height: 20%; } }

@media screen and (min-width: 56rem) {
  .card {
    width: 33.3333%; } }

.fluid-width {
  min-width: 200px;
  display: inline-block; }

.fixed-width {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  display: inline-block; }

h2 {
  display: inline; }
