$gradiente1: linear-gradient(45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%);

$BestSombrita: 0 0 40px -10px #000;

#limpiar {
    @extend .send;

    &:hover {
        opacity: 1;
        -moz-transform: scale(1.25);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        transition-timing-function: ease-in;
        transition: 1.5s;
        background-color:red !important;
    }
}