@import "nav";
@import "colores";
@font-face {
	font-family: MonteCarlo-Regular;
	src: url(../font/MonteCarlo-Regular.ttf);
}


#Grace {
	font-size: 3vw;
	font-family: monteCarlo-Regular;
	color: goldenrod;
}
h2 {
	font-family: montecarlo-regular;
	font-size: 4vw;
	color: goldenrod;
}
header {
	background-image: url("../img/banner.JPG");
	background-size: center;
	background-image: cover;
	height: 160px;
	left: 0%;
	position: sticky;
	top: 0%;
	width: 100%;
	z-index: 1111;
}
body {
	background-image: url("../img/body.JPG");
	background-size: center;
}
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
p {
	font-size: 1.4rem;
	margin: 0 0 24px 0;
	&:before {
		content: attr(type);
		display: block;
		margin: 28px 0 0;
		font-size: 14px;
		color: #5a5a5a;
	}
}

/* ----------------------------------------------Paralax ----------------------------------------------*/
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30rem;
	max-width: 100%;
	position: relative;
}
.texto-interior {
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 80%;
}
.img-uno {
	background-image: url('../img/Room.jpg');
	width: 100%;
	opacity: 0.75;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-timing-function: ease-in;
	transition: 1.5s;
	&:hover {
		opacity: 1;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		transition-timing-function: ease-in;
		transition: 1.5s;
	}
}
.img-dos {
	background-image: url("../img/Facial.jpg");
	width: 100%;
	opacity: 0.75;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-timing-function: ease-in;
	transition: 1.5s;
	&:hover {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		transition-timing-function: ease-in;
		transition: 1.5s;
	}
}
.img-tres {
	background-image: url("../img/Tratamientocabello.JPG");
	width: 100%;
	opacity: 0.75;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-timing-function: ease-in;
	transition: 1.5s;
	&:hover {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		transition-timing-function: ease-in;
		transition: 1.5s;
	}
}
.texto {
	padding: 5%;
	width: 90%;
}

/* ----------------------------------------------footer ----------------------------------------------*/
footer {
	font-family: 'Times New Roman', Times, serif;
	background-color: black;
	color: white;
	width: 100%;
}
.footer-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}
.main {
	max-width: 1200px;
	margin: 0 auto;
}
#personal {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

/* ---------------------------------------------- Diseño de Grid en Nosotros.HTML ---------------------------------------------- */
.card {
	display: grid;
	display: sticky;
	overflow: hidden;
}
.card-img-top {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	height: 20rem;
	&:hover {
		opacity: 1;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		transition-timing-function: ease-in;
		transition: 1.5s;
	}
}
.card-body {
	position: sticky;
	padding: 2rem;
	background:$gradiente1;
	border-radius: 0.25rem;
	box-shadow: $BestSombrita;
}
.card_title {
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0px;
}
/* ---------------------------------------------- Diseño botones ---------------------------------------------- */
.btn-default {
	background: #006EFF;
	width: 100%;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
h5 {
	font-family: montecarlo-regular;
	font-size: 2rem;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
img.responsive {
	width: auto;
}
.promociones {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	grid-gap: 2rem;
}
/* ---------------------------------------------- Grid de Tratamientos.HTML ---------------------------------------------- */
.Tratamientos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	grid-gap: 2rem;
}


/*---------------------------------------------- Diseño de Formulario ---------------------------------------------- */
.form {
	width: 340px;
	height: 710px;
	background: #e6e6e6;
	border-radius: 8px;
	box-shadow: $BestSombrita;
	margin: calc(50vh - 220px) auto;
	padding: 20px 30px;
	max-width: calc(100vw - 40px);
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s;
	border-bottom: 2px solid #bebed2;
	&:focus {
		border-bottom: 2px solid #78788c;
	}
}
.send {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #78788c;
	background: 0;
	color: #5a5a6e;
	cursor: pointer;
	transition: all .3s;
}
.contenedor {
	content: 'Hi';
	position: absolute;
	bottom: -15px;
	right: -20px;
	background: #50505a;
	color: #fff;
	width: 320px;
	padding: 16px 4px 16px 0;
	border-radius: 6px;
	font-size: 13px;
	box-shadow: $BestSombrita;
}
span {
	margin: 0 5px 0 15px;
}

/* ---------------------------------------------- Booststrap hover - Zoom in ----------------------------------------------*/   
.imgcard {
	width: 100%;
	max-width: 420px;
	opacity: 0.75;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-timing-function: ease-in;
	transition: 1.5s;
	&:hover {
		opacity: 1;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		-moz-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
		transition-timing-function: ease-in;
		transition: 1.5s;
	}
}
/* ---------------------------------------------- Media queries ---------------------------------------------- */
@media screen and (max-width:1024px) {
	img.responsive {
		width: 200px;
	}
}
@media screen and (min-width:1025px) {
	img.responsive {
		width: 300px;
	}
}
@media screen and (min-width: 40rem) {
	.card {
		width: 50%;
	}
	.header {
		width: 50%;
	}
}
@media screen and (min-width: 56rem) {
	.card {
		width: 33.3333%;
	}
}
